body {
background-color: black;
}

.headbutton {
	display: inline-block;
}

h1 {
	color: yellow;
}

h2 {
	color: yellow;
}

h3 {
	color: yellow;
}

#dealers_hand {
	display: flex;
}

#players_hand {
	display: flex;
}

.cards {
	margin: 5px;
	padding: 5px;
}

#imperialCredit {
	color: yellow;
}

#number {
	width: 75px;
	height: 120px;
	color: orange;
	text-align: center;
	line-height: 4;
	font-size:30px;
}

article {
width: 75px;
height: 120px;
background-image:url("img_background");
}