<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/style.css" media="screen">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
		<script src="/cardTemplate.js"></script>
		<script src="textBlackJack.js" charset="utf-8" defer></script>
	</head>

	<body>
		<header>
			<ul class="headbar">
				<li class="headbutton">
					<button type="button" id="headhome">Home</button>
				</li>
				<li class="headbutton">
					<button type="button" id="headstart">Play game</button>
				</li>
				<li class="headbutton">
					<button type="button" id="headrules">Rules</button>
				</li>
			</ul>
		</header>
		{{{body}}}
	</body>
</html>