<main id= "dealers_hand">

</main>
<main id= "players_hand">

</main>
	<button type="button" id="newGame">NEW GAME</button>
	<button type="button" id="hit">HIT</button>
	<button type="button" id="stand">STAND</button>
	<button type="button" id="doubleDown">DOUBLE DOWN</button>

	<h1> amount of imperial credit </h1>
	<p id="imperialCredit">1000</p>
	<input type="text" id="bet" placeholder="bet amount...">

